@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0;
    @apply p-0;
    @apply box-border;
    @apply overflow-x-hidden;
    @apply h-full;
  }

  html {
    @apply h-full;
    @apply overflow-x-hidden;
    overscroll-behavior: contain;
    @apply font-roboto;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

  #root {
    height: 100%;
  }
}